@import url('https://fonts.googleapis.com/css?family=Roboto');

:host {
    display: block;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h3 {
    margin: 0
}

.marble {
    position: relative;
    height: 28px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.point {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 0;
    height: 25px;
    z-index: 2;
}

.value {
    cursor: pointer;
    border-radius: 50%;
    background-color: #2497c4;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
    width: 25px;
    animation: show 0.3s ease-in-out;
}

.value.selected,
.value:hover {
    background-color: orange;
}

.complete {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    cursor: default;
    width: 2px;
    height: 40px;
    width: 2px;
    z-index: 1;
    top: -8px;
}

.error {
    font-size: 48px;
    font-family: auto;
    color: #000; 
    transition: color 0.3s ease-in-out;
}

.error:hover,
.error.selected {
    color: #c80000;
}


.line {
    position: relative;
    left: 0;
    height: 3px;
    background: #555;
    transition: width 0.1s linear;
    width: 100%
}

.past-line {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #2497c4;
    transition: width 0.1s linear;
}

@keyframes show {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}