:host {
    display: flex;
    flex-direction: column;
}

:host(.hidden) .marbles-wrapper {
    max-height: 0;
}

:host(.hidden) .chevron {
    transform: rotate(0deg);
}

header {
    display: flex;
    padding: 15px;
    background-color: #db1f60;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 
        0 2px 1px -1px rgba(0,0,0,.2), 
        0 1px 1px 0 rgba(0,0,0,.14), 
        0 1px 3px 0 rgba(0,0,0,.12);
}

header:hover {
    background-color: rgb(232, 26, 98);
}
h2 {
    margin: 0;
    flex: 1;
    font-size: 18px;
}

.chevron {
    transform: rotate(180deg);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.chevron::after {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    vertical-align: middle;
}

.marbles-wrapper {
    max-height: 270px;
    overflow-y: scroll;
    flex-grow: 1;
    transition: max-height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 
        0 2px 1px -1px rgba(0,0,0,.2), 
        0 1px 1px 0 rgba(0,0,0,.14), 
        0 1px 3px 0 rgba(0,0,0,.12);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: #333 solid 1px;
}