@import url('https://fonts.googleapis.com/css?family=Roboto');
        
html, body {
    height: 100%;
    user-select: none;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background: #4e2888;
    color: #fff;
    padding: 15px;
    display: flex;
    box-shadow: 
        0 3px 5px -1px rgba(0,0,0,.2), 
        0 6px 10px 0 rgba(0,0,0,.14), 
        0 1px 18px 0 rgba(0,0,0,.12);
}

h1 {
    margin: 0;
    padding-left: 10px;
    flex: 1;
}
img {
    width: 32px;
    height: 32px;
}
a:hover {
    opacity: 0.9;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
}

.flex-g-1 {
    flex-grow: 1;
}

.overflow-auto {
    overflow: auto;
}

.json-wrapper {
    width: 400px;
    border-left: 1px solid #eee;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: #333 solid 1px;
}
