@import url('https://fonts.googleapis.com/css?family=Roboto');
        
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 15px;
    background: #7b3399;
    color: #fff;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
}

.flex-g-1 {
    flex-grow: 1;
}

.overflow-auto {
    overflow: auto;
}

.json-wrapper {
    width: 400px;
    border-left: 1px solid #eee;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: #333 solid 1px;
}
