:host {
    display: flex;
    user-select: text;
}

:host(.theme-dark) .json, :host(.theme-dark) .controls {
    background: #424242;
}

:host(.theme-dark) .border__visible {
    background: #525252;
}

:host(.theme-dark) .jsontree_value_number {
    color: #fff;
}

.border {
    width: 20px;
    height: 100%;
    user-select: none;
    position: absolute;
    flex-shrink: 0;
    cursor: col-resize;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.border__visible {
    height: 100%;
    width: 1px;
    background: #dadada;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.json-wrapper {
    min-width: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

input {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    width: 0;
    flex: 1 0 auto;
}

.controls {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    flex-shrink: 0;
    z-index: 1;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

.json {
    overflow: auto;
    padding: 10px 0;
    flex: 1 0 auto;
    height: 0;
}

button {
    -webkit-appearance: none;
    border: none;
    background: #673AB7;
    border-radius: 3px;
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: filter 0.2s ease-in-out;
    cursor: pointer;
    outline: none;
    margin-left: 15px;
}

button:active {
    filter: brightness(0.8);
}

.jsontree_tree {
    width: max-content;
    width: -moz-max-content;
    margin-right: 30px;
    font-size: 12px;
}

.jsontree_label {
    color: #db1f60;
    font-weight: 600;
}

.jsontree_value_number {
    color: #3F51B5;
}

.jsontree_label.highlight {
    background: #db1f60;
    color: #fff;
}

.jsontree_value_string {
    color: #9c27b0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: #333 solid 1px;
}