:host {
    display: flex;
    user-select: text;
}

.border {
    width: 2px;
    height: 100%;
    user-select: none;
    flex-shrink: 0;
    cursor: col-resize;
    background-color: #eee;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.json-wrapper {
    width: 300px;
    padding: 35px 0px;
    overflow: auto;
}

.jsontree_tree {
    width: max-content;
    margin-right: 30px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: #333 solid 1px;
}
